@font-face{
    font-family: Quicksand;
    src: url("assets/fonts/Quicksand-Regular.ttf");
}@font-face{
    font-family: QuicksandBold;
    src: url("assets/fonts/Quicksand-Bold.ttf");
}
body{
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
    color: #212121;
}
a{
    text-decoration: none;
}
.container{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}
/*Navbar*/
nav{
    height: 90px;
    background-color: #00796B;
}
nav a{
    font-family: "QuicksandBold";
    font-size: 14px;
    color: #ffffff;
}
#nav-left{
    float: left;
    width: 30%;
}
#nav-left img{
    width: 51px;
    height: 60px;
    padding: 20px 0;
}
#nav-right{
    float: right;
    width: 50%;
    height: 100%;
}
#nav-right>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
#nav-right>ul>li{
    display: inline-block;
    line-height: 89px;
    position: relative;
}
#nav-right>ul>li>a{
    padding: 35px;
    transition: 0.3s ease-in-out;
}
#nav-right>ul>li>a:hover, #nav-right>ul>li>ul>li>a:hover{
    color: #B2DFDB;
}
#nav-right>ul>li:hover>ul{
    display: block;
}
#nav-right>ul>li>ul{
    display: none;
    list-style: none;
    background-color: #00796B;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
#nav-right>ul>li>ul>li>a{
    display: block;
    transition: 0.3s ease-in-out;
    text-align: center;
}
/*Imgslider*/
#img-slider *{
    box-sizing: border-box;
}
#img-slider{
    margin: 0 auto;
    width: 960px;
}
.slide-container{
    width:960px;
    height:350px;
    position:absolute;
    /* margin-top: 50px; */
}
.left-arrow {
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.right-arrow {
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
}
.left-arrow>img {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    margin-left:-2px;
    opacity:.3;
    transition:opacity 1s;
}
.right-arrow>img {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    margin-left:70px;
    opacity:.5;
    transition:opacity 1s;
}
.left-arrow>img:hover,.right-arrow>img:hover {
    cursor:pointer;
    opacity:1;
}
.dot-container {
    position:absolute;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
}
.dot{
    cursor:pointer;
    height:13px;
    width:13px;
    background-color:#0dccb9;
    border-radius:50%;
    display:inline-block;
    transition:background-color .6s ease;
    margin:0 2px;
}
.active,.dot:hover {
    background-color:#009688;
    height:17px;
    width:17px;
}
.captionText {
    width:120px;
    height:50px;
    position:absolute;
    bottom:30px;
    font-size:14px;
    font-weight:bolder;
    text-align:center;
    line-height:50px;
    letter-spacing:.19em;
    background:#009688;
    color:#FFF;
    opacity:0;
}
.main-content,.responsive-img {
    width:100%;
    height:100%;
}
#img-slider-container{
    width: 100%;
    height: 80vh;
    /* background-color: #009688; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23cccccc' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E"); */
    background-image: url("images/bg4.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
}
#img-slider-container .header-section{
    color: #ffffff;
    margin: 0 auto 20px auto;
}
/*New Product*/
#new-product{
    padding: 100px 0;
}
.header-section{
    width: 550px;
    margin: 0 auto 50px auto;
}
.judul-section{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: QuicksandBold;
}
.hijau{
    color: #00796B;
}
.hijau-terang{
    color: #009688;
}
.desc-section{
    text-align: center;
}
.isi-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.category{
    justify-content: flex-start;
    padding: 0 40px;
}
.category .book{
    margin-bottom: 20px;
}
.row{
    flex-direction: row;
}
.book img{
    width: 260px;
    height: 320px;
}
.book{
    margin: 0 10px;
    padding: 10px;
    /* border: 1px solid #757575; */
    box-shadow: 0px 1px 3px 2px #B2DFDB;
}
.judul-book{
    color: #009688;
    font-size: 20px;
    font-family: QuicksandBold;
    margin-bottom: 5px;
}
.penulis-book{
    font-size: 12px;
    color: #757575;
    margin-bottom: 5px;
}
.harga-book{
    color: #E91E63;
    font-size: 16px;
    margin-bottom: 5px;
}
#our-events{
    padding: 100px 0;
    /* background-color: #BDBDBD; */
    background-image: url('images/bg3.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}
.events{
    background-color: #00796B;
    padding: 30px;
    width: 25%;
    box-shadow: 0 1px 3px 2px #B2DFDB;
}
.judul-events{
    color: #ffffff;
    font-family: QuicksandBold;
    font-size: 20px;
}
.desc-events{
    color: #B2DFDB;
    border-bottom: 1px solid #B2DFDB;
    margin-bottom: 15px;
}
.tgl-events{
    color: #ffffff;
    font-size: 14px;
}
#trending-books{
    padding: 100px 0;
}
.trending-item{
    position: relative;
}
.trending-item img{
    width: 150px;
    height: 233px;
    box-shadow: 0 1px 3px 2px #B2DFDB;
}
.top-trending img{
    width: 160px;
    height: 248px;
}
.align-item-center{
    align-items: center;
}
.disc-trending-item{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    background-color: #E91E63;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    font-family: QuicksandBold;
}
footer{
    background-color: #757575;
    padding: 50px 0 0 0;
    color: #B2DFDB;
}
footer a{
    color: #B2DFDB;
}
#footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#logo-footer img{
    width: 80px;
    height: 94px;
}
#text-footer{
    padding: 10px 0;
    font-size: 14px;
    width: 700px;
    margin: 0 auto;
}
#social-footer{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
}
.social-item{
    border: 1px solid #B2DFDB;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: 0.3s ease-in-out;
}
.social-item:hover{
    color: #009688;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
#copyright .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#scroll-top{
    position: fixed;
    bottom: 60px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #009688;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    z-index: 999;
    border: 1px solid #009688;
    transition: 0.3s ease-in-out;
    display: none;
}
#scroll-top:hover{
    background-color: #ffffff;
    border: 1px solid #009688;
    color: #009688;
}
@keyframes pulse{
    0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
#social-links{
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 0 50px 0;
}
#social-links a{
    font-family: QuicksandBold;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    padding: 5px 10px;
    border-radius: 5px;
}
#social-links a:hover{
    background-color: #ffffff;
    color: #009688;
}
#copyright{
    font-size: 12px;
    padding: 30px 0;
    border-top: 1px solid #BDBDBD;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}/* CSS for products container */
.product_container
{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 50px auto;
    align-items: center;
}

#book_banner
{
    /* margin: 50px 0 50px 100px; */
    width: 240px;
    height: 400px;
    box-shadow: 0 1px 3px 2px #B2DFDB;
}

#product_info_container
{
    /* margin: 70px 0 130px 50px; */
    padding: 0px 30px;
}
.judul-detail-book{
    color: #00796B;
    font-family: QuicksandBold;
    font-size: 28px;
}
.penulis-detail-book{
    font-size: 12px;
    color: #757575;
    padding: 5px 0;
    font-family: QuicksandBold;
}
.rating{
    padding: 10px 0;
    font-size: 13px;
    color: #FFC107;
}
.book .rating{
    padding: 5px 0;
    font-size: 10px;
}
.harga-detail-book{
    color: #E91E63;
    font-size: 20px;
    font-family: QuicksandBold;
    margin-bottom: 20px;
}
.desc-detail-book{
    padding: 20px 0;
    font-size: 14px;
    text-align: justify;
    border-top: 1px dashed #BDBDBD;
}
#availability{
    font-family: QuicksandBold;
    padding: 10px 0;
}
#availability, #qty, #cart, #share
{
    /* margin: 10px 0; */
    border-top: 1px dashed #BDBDBD;
}
#qty{
    padding: 10px 0;
    font-family: QuicksandBold;
}
#cart{
    padding: 15px 0;
}
.merah
{
    color: #E91E63;
}

#qty button
{
    outline: none;
    border: 1px solid #757575;
    cursor: pointer;
    color: #757575;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#qty button:hover
{
    color: #009688;
    border: 1px solid #009688;
}

#qty input[type="text"]
{
    padding: 10px 5px;
    text-align: center;
    width: 50px;
    outline: none;
    border: none;
}

#quantity
{
    height: 20px;
    width: 100px;
    border: none;
    border-bottom: 2px solid #aaa;
    margin-bottom: 10px;
    background-color: transparent;
    resize: none;
    outline: none;
}

#add_cart
{
    color: white;
    background-color: #009688;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: QuicksandBold;
    border: 1px solid #009688;
    transition: 0.3s ease-in-out;
}

#add_cart:hover
{
    color: #009688;
    background-color: white;
    border: 1px solid #009688;
}

#media_share span
{
    font-size: 11pt;
    font-weight: bolder;
}

.media i
{
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.comments, .media
{
    padding: 7px;
    border: 1px solid #009688;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: #009688;
    width: 40px;
    height: 40px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.media
{
    margin: 0 5px;
}

.comments:hover, .media:hover
{
    border: 1px solid #009688;
    color: #009688;
    background-color: #ffffff;
}


/* CSS for switch tab */
.switch_tab_container{
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
  }
  .tab_trigger ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .tab_trigger ul li label{
    position: relative;
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    min-width: 100px;
    background: #e6e6e6;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px 8px 0 0;
  }
  
  .tab_trigger ul li:nth-child(1) label{
    background: #f0f0f0;
  }
  .tab_trigger ul li:nth-child(2) label{
    background: #e6e6e6;
  }
  .tab_trigger ul li:nth-child(3) label{
    background: #d9d9d9;
  }
  .tab_trigger ul li:nth-child(4) label{
    background: #ccc;
  }
  
  .tab_container_wrap input{
    position: absolute;
    margin: 0;
    z-index: -10000;
    top: -10000px;
    width: 0;
    height: 0;
  }
  
  .tab_container_wrap input:checked + .tab_content_box{
    display: block;
  }
  
  .tab_container_wrap input:checked + .comment_container{
    display: block;
  }
  
  .tab_content_box{
    background: #f0f0f0;
    padding: 20px;
    display: none;
  }
  
  .tab_content_box:nth-of-type(1){
    background: #f0f0f0;
    
  }
  
  .tab_content_box:nth-of-type(2){
    background: #e6e6e6;
  }
  
  .tab_content_box:nth-of-type(3){
    background: #d9d9d9;
  }
  
  .tab_content_box:nth-of-type(4){
    background: #ccc;
  }
  
  .tab_content_box h2 {
    margin: 0 0 10px;
    font-size: 16px;
  }
  .tab_content_box p{
      text-align: justify;
  }
  
  .comment_container
  {
      width: auto;
    display: none;
    background: #e6e6e6;
    padding: 20px;
  }
  
  .comment_container h2
  {
      /* text-align: center; */
      margin-bottom: 15px;
  }
  
  textarea
  {
      height: 20px;
      width: 100%;
      border: none;
      border-bottom: 2px solid #aaa;
      margin-bottom: 10px;
      background-color: transparent;
      resize: none;
      outline: none;
      transition: .5s;
      margin: 20px 0;
      font-family: Quicksand;
  }
  
  #comment, #clear
  {
      padding: 10px 15px;
      border: none;
      outline: none;
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      font-family: Quicksand;
  }
  
  button
  {
      color: #333;
      background-color: transparent;
  }
  
  .btn
  {
    display: none;
  }
  
  #comment
  {
    color: #fff;
      background-color: #009688;
      border: 1px solid #009688;
      transition: 0.3s ease-in-out;
  }
  #comment:hover{
      background-color: #ffffff;
      color: #009688;
      border: 1px solid #009688;
  }

  /* CSS for related products */
  .related_products_container
  {
      width: 80%;
      margin: 0 auto;
      padding: 50px 0;
  }
  
  /* .related_products_container>h1
  {
      margin: 0px 0px 40px 0px;
  } */
  
  .img_container
  {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
  }
  
  .small
  {
      font-size: 10pt;
  }
  
  .small>h1
  {
      margin: 10px 0px;
  }

  .small img
  {
    width: 200px;
    height: 300px;
    box-shadow: 10px 10px 8px #888888;
  }.register-page{
	/* padding-top: 1vh;
	height: 120vh;
	width: 100%; */
	/* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/register-banner.jpg); */
	/* background-position: center;
	background-size: cover;
	position: relative; */
}
.registration{
    margin: 50px auto;
}
.form-box{
	/* width: 100%; */
	/* height: 480px; */
	position: relative;
	margin: 0 auto 50px;
	/* background: white; */
	padding: 5px;
}
.button-box{
	width: 110px;
	margin: 22px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toogle-btn{
	padding: 10px 30px;
	text-align: center;
	margin: 0px auto;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right,#ff105f,#ffad06); 
	border-radius: 30px;
	transition: .5s; 
}

.input-group{
	top: 0px;
	margin: auto;
	position: relative ;
	width: 580px;
	transition: .5s;

}
.input-group>div{
    padding: 10px 0;
}

.text-input{
	width: 100%;
	padding: 10px 12px;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
    background: transparent;
    font-family: Quicksand;
}

.val-error{
	padding: 0px 12px;
	margin: 3px auto;
	color: #E91E63;
}

.submit-btn{
	padding: 10px 15px;
	cursor: pointer;
	display: block;
	margin: 15px auto;
	background-color: #009688;
	border: 1px solid #009688;
	outline: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: QuicksandBold;
    transition: 0.3s ease-in-out;
}
.submit-btn:hover{
    background-color: #ffffff;
    color: #009688;
}
.check-box{
	margin: 10px auto;
}
.agreement-box{
	margin: 5px auto;

}
.gender-radio{
	margin: 10	px 0px auto;
}
/* span{
	margin: 3px auto;
	color: #777;
	font-size: 12px;
	position: relative;	
} */

.isi-about{
    display: flex;
    flex-direction: row;
    background-color: #BDBDBD;
    align-items: center;
}
#foto-toko{
    height: 360px;
}
#foto-toko img{
    width: 540px;
    height: 360px;
}
#info-toko{
    padding: 40px;
}
#info-toko img{
    width: 100px;
    height: 120px;
}
#info-toko p{
    font-size: 18px;
    text-align: justify;
}
#timeline-box{
    padding: 100px 0;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23cccccc' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-attachment: fixed;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    width: 95%;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #009688;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
  }
  
  /* The circles on the timeline */
  .timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #009688;
    border: 4px solid #009688;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #00796B;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #00796B;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #00796B;
    border-width: 10px 10px 10px 0;
    border-color: transparent #00796B transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: #00796B;
    position: relative;
    border-radius: 6px;
    color: #B2DFDB;
  }
  .content h2{
      color: #ffffff;
  }
  #outlet-location{
      padding: 100px 0;
  }
  .city{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
  }
  .city img{
      width: 200px;
      height: 200px;
      object-fit:cover;
      position: absolute;
  }
  .city .nama-city{
      position: absolute;
      color: #ffffff;
      background-color: rgba(0, 150, 136, 0.6);
      width: 200px;
      height: 200px;
      text-align: center;
      display: none;
      cursor: pointer;
  }
  @keyframes changebg{
      0%{
          background-color: rgba(0, 150, 136, 0.0);
      }
      50%{
          background-color: rgba(0, 150, 136, 0.3);
      }
      100%{
          background-color: rgba(0, 150, 136, 0.6);
      }
  }
  .city:hover .nama-city{
      display: block;
      animation: changebg 0.3s;
  }
  .nama-city-tulisan{
      font-size: 18px;
      font-family: QuicksandBold;
      position: relative;
      top: 80px;
  }
  .jalan-city{
      font-size: 14px;
      top: 90px;
      position: relative;
  }
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

@media only screen and (max-width:700px){
    .slide-container {
    width:600px;
    }
}
@media only screen and (max-width:600px){
    .slide-container {
    width:500px;
    height:300px;
    }
}
@media only screen and (max-width:500px){
    .slide-container {
    width:400px;
    height:250px;
    }
    .captionText {
    width:100px;
    height:40px;
    font-size:12px;
    line-height:40px;
    }
}
@media only screen and (max-width:400px){
    .slide-container {
    width:300px;
    height:200px;
    }
    .captionText {
    width:90px;
    height:35px;
    font-size:10px;
    line-height:35px;
    }
}
