body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    color: #212121;
}
a{
    text-decoration: none;
}
.container{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}
/*Navbar*/
nav{
    height: 90px;
    background-color: #00796B;
}
nav a{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
#nav-left{
    float: left;
    width: 30%;
}
#nav-left img{
    width: 60px;
    height: 70px;
    padding: 10px 0;
}
#nav-right{
    float: right;
    width: 50%;
    height: 100%;
}
#nav-right>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
#nav-right>ul>li{
    display: inline-block;
    line-height: 89px;
    position: relative;
}
#nav-right>ul>li>a{
    padding: 35px;
    transition: 0.3s ease-in-out;
}
#nav-right>ul>li>a:hover, #nav-right>ul>li>ul>li>a:hover{
    background-color: #009688;
}
#nav-right>ul>li:hover>ul{
    display: block;
}
#nav-right>ul>li>ul{
    display: none;
    list-style: none;
    background-color: #00796B;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
#nav-right>ul>li>ul>li>a{
    display: block;
    transition: 0.3s ease-in-out;
    text-align: center;
}
/*Imgslider*/
#img-slider *{
    box-sizing: border-box;
}
#img-slider{
    margin: 0 auto;
    width: 960px;
}
.slide-container{
    width:960px;
    height:350px;
    position:absolute;
    margin-top: 20px;
}
.left-arrow {
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.right-arrow {
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
}
.left-arrow>img {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    margin-left:-2px;
    opacity:.3;
    transition:opacity 1s;
}
.right-arrow>img {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    margin-left:42px;
    opacity:.5;
    transition:opacity 1s;
}
.left-arrow>img:hover,.right-arrow>img:hover {
    cursor:pointer;
    opacity:1;
}
.dot-container {
    position:absolute;
    bottom:5px;
    left:50%;
    transform:translateX(-50%);
}
.dot{
    cursor:pointer;
    height:13px;
    width:13px;
    background-color:#F67280;
    border-radius:50%;
    display:inline-block;
    transition:background-color .6s ease;
    margin:0 2px;
}
.active,.dot:hover {
    background-color:#E8175D;
    height:17px;
    width:17px;
}
.captionText {
    width:120px;
    height:50px;
    position:absolute;
    bottom:30px;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:14px;
    font-weight:bolder;
    text-align:center;
    line-height:50px;
    letter-spacing:.19em;
    background:#F67280;
    color:#FFF;
    opacity:0;
}
.main-content,.responsive-img {
    width:100%;
    height:100%;
}
#img-slider-container{
    width: 100%;
    height: 390px;
    background-color: #009688;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23cccccc' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
}
/*New Product*/
#new-product{
    padding: 50px 0;
}
.header-section{
    width: 550px;
    margin: 0 auto;
}
.judul-section{
    margin: 0;
    padding: 0;
    text-align: center;
}
.hijau{
    color: #00796B;
}
.desc-section{
    text-align: center;
}
.isi-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book img{
    width: 260px;
    height: 320px;
}
.book{
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #757575;
}
.judul-book{
    color: #00796B;
    font-size: 20px;
}
.penulis-book{
    font-size: 12px;
    color: #757575;
}
.harga-book{
    color: #E91E63;
    font-size: 16px;
}
@media only screen and (max-width:700px){
    .slide-container {
    width:600px;
    }
}
@media only screen and (max-width:600px){
    .slide-container {
    width:500px;
    height:300px;
    }
}
@media only screen and (max-width:500px){
    .slide-container {
    width:400px;
    height:250px;
    }
    .captionText {
    width:100px;
    height:40px;
    font-size:12px;
    line-height:40px;
    }
}
@media only screen and (max-width:400px){
    .slide-container {
    width:300px;
    height:200px;
    }
    .captionText {
    width:90px;
    height:35px;
    font-size:10px;
    line-height:35px;
    }
}
